{% extends "base.html" %}
{% block title %}
profile
{% endblock%}


{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <script>
            alert('{{message}}')
        </script>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <script>
            alert('{{message}}')
        </script>
        {% endif %}
    {% endfor %}
{% endif %}
<br>
<div>
    <ul><h1>비밀번호 변경</h1></ul>

    {{context.error}}
    <ul>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn" type="submit" value="비밀번호 변경">
        <input class="btn" type="button" value="취소" onclick="location.href='/'"/>
    </form>
</ul>
</div>
        

{% endblock%}
