{% extends "base.html" %}
{% block title %}
profile
{% endblock%}


{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <script>
            alert('{{message}}')
        </script>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <script>
            alert('{{message}}')
        </script>
        {% endif %}
    {% endfor %}
{% endif %}

    <body>
    <br>
    <br>
    <br>
    <br>
    {{context.error}}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="패스워드 변경">
    </form>
    <ul>취소</ul>
    <ul>확인</ul>   
        
    </body>
{% endblock%}
