{#login.html#}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
	<div class="study_list">
        <table>
            <tr>
                <td>강좌명</td>
                <td>강사</td>
                <td>수업시간</td>
                <td>참가</td>
            </tr>
            <tr>
                    <td>파이썬</td>
                    <td>최영호</td>
                    <td>월/금:13시</td>
                    <td><button>참가</button></td>
                </tr>
        </table>

    </div>

</body>
</html>
