{#login.html#}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "accounts/css/login.css" %}" media="screen">
</head>
<body>
<form method="post">
    {% csrf_token %}
    <p>
      <label for="id_username">사용자 이름:</label>{{ form.username }}
    </p>
    <p>
      <label for="id_password">비밀번호:</label>{{ form.password }}
    </p>
    
    <input type="submit" value="로그인">
    <input type="reset" value="초기화">
</form>
</body>
</html>
