{#login.html#}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "accounts/favicon.ico" %}">

    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "accounts/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "accounts/css/signin.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<link rel="stylesheet" href="{% static "accounts/css/login.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "accounts/css/bootstrap.min.css" %}" media="screen">-->
    <style>
         
    
    </style>
</head>
<body>
	{% if form.errors %}
    <p> 아이디, 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
    {% endif %}
	<div class="form-signin">
            <h2 class="form-signin-heading">발표 너도 할수있어!</h2>
        <div class="form-signin">
            <form method="post" novalidate="" class="form-signin">
                    {% csrf_token %}
                 <div class="form-signin">
                    <input class="form-control" name="username" formcontrolname="email" id="id_username" placeholder="아이디" type="email">
                    
                    <p class="error_msg" style="display: none;"></p>
                </div>
                <div class="form-signin">
                    <input class="form-control" name="password" formcontrolname="password" id="id_password" placeholder="비밀번호" type="password">
                   
                    <p class="error_msg" style="display: none;"></p>
                </div>
                <div class="checkbox">
                        <label>
                          <input type="checkbox" value="remember-me"> Remember me
                        </label>
                      </div>
            <div class="form-signin">
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">
                    <span>로그인</span>
                </button>
            </div>
        </form>
            <div class="container">
                
                <div class="container">

                    <a class="underline" href="/accounts/register/">회원가입</a> <span>/</span> <a class="underline">비밀번호 찾기</a>
                </div>
            </div>

            <div class="sns_signup">
                <div class="text_tit"><p>소셜 아이디로 간편 로그인</p></div>
                <ul class="btn_wrapper">
                    <li><button class="btn_def m " onclick="location.href='/googlelogin/google/login/' "><span><img alt="구글" height="18" src="{% static "accounts/img/login_google.png" %}" width="75"> 로그인</span></button></li>
                    <li><button class="btn_def m "><span><img alt="네이버" height="16" src="{% static "accounts/img/login_naver.png" %}" width="89"> 로그인</span></button></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
