<!-- 입력 실패시 띄울 메시지  -->
{% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <script>
          alert('{{message}}')
        </script>
      {% endif %}
    {% endfor %}
{% endif %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>방생성하기</title>
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="방생성">
    </form>
  </body>
</html>
