
        {% extends "base.html" %}
        {% block title %}
        list
        {% endblock%}

        {% block content %}
        <br>
        <br>
        <br>
        <br>
<!-- 방 접근시 실패하면 띄울 메시지  -->
{% if messages %}
    {% for message in messages %}
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function newDoc(url_link) {
                window.location.assign(url_link)
            }
            var csrftoken = getCookie('csrftoken');

            var roompk = '{{message}}'
            var returnValue=prompt('패스워드를 입력해 주세요');
            if(returnValue){
                $.post({
                    url: 'room/'+"{{message}}"+'/',
                    dataType:"json",
                    data: {'csrfmiddlewaretoken': csrftoken, password: returnValue},
                    error: function(error) {
                        alert(error.responseText);
                    },
                    success: function(data) {
                        newDoc('/room/'+"{{message}}"+'/')
                        alert(success.responseText);
                        window.location.href('/room/'+"{{message}}"+'/');
                        window.location.assign('/room/'+"{{message}}"+'/');
                        window.location = '/room/'+"{{message}}"+'/';
                        return false;
                    },
                });
            }
            else{
                window.location = 'http://naver.com';
                alert("패스워드 입력을 취소 했습니다.");
            }
        </script>
    {% endfor %}
{% endif %}

<!-- 방리스트 하기-->
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <td><B>소속</B></td>
            <td><B>방제목</B></td>
            <td><B>작성자</B></td>
            <td><B>방패스워드 입력</B></td>
        </tr>
        </thead>
        <tbody>
          {% for Room in RoomList %}
        <tr>
            <td>{{Room.group}}</td>
            <td>{{Room.roomname}}</td>
            <td>{{Room.author}}</td>
            <td><button class="btn" onclick="location.href='{% url 'chat:room_detail' Room.pk %}' ">방 입장하기 {{ Room.pk }}</button><td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>
<div class="container">
<!-- 방생성 하기-->
<button class="btn btn-default pull-right" onclick="location.href='{% url 'main:createMain' %}' "> 방생성</button>

</div>

            
             
    {% endblock%}
